<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>US Time Zone Display</h1>

  <section>
    <button (click)="getDateByzone('PST')" [ngClass]="{slelected: lastTimeZoneSelected==='PST'}">PST</button>
    <button (click)="getDateByzone('MST')" [ngClass]="{slelected: lastTimeZoneSelected==='MST'}">MST</button>
    <button (click)=" getDateByzone('CST') " [ngClass]="{slelected: lastTimeZoneSelected==='CST'}">CST</button>
    <button (click)=" getDateByzone('CST') " [ngClass]="{slelected: lastTimeZoneSelected==='CST'}">EST</button>
  </section>

  <section>
    {{time}}
    <h2>{{ time | date: 'medium' }}</h2>
  </section>
</div>
